<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section
        name="simulationConfig"
        type="CoopSimulator.Config.SimulationConfig, CoopSimulator"/>
  </configSections>
  
  <simulationConfig
      animalType="Rabbit"
      simulationOperationCountPerTask="15"
      averageSexualMaturatyAge="180"
      sexualMaturatyAgeStdDev="30"
      pregnancyLength="31"
      availabilityAfterBirth="1"
      availabilityAfterMating="1"
      averageLitterCount="7"
      litterStdDev="3"
      averageLifeExpectancy="2000"
      lifeExpectancyStdDev="365">
  </simulationConfig>
  
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>